@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="imgs/R.png" style="width: 400px;"/>
    <h1 class="display-4">Welcome to Eva Library</h1>
    <h3 class="text-capitalize fst-italic">Books are medicines to the Mind.</h3>
</div>