@model EvaLibrary.Entities.Author

<h1>Update Author Data</h1>

<form method="post">
    <label>Name</label>
    @Html.TextBoxFor(a => a.Name)
    
    <br>
    
    <label>Birth Date</label>
    @Html.TextBoxFor(a => a.BirthDate, "{0:yyyy-MM-dd}", new { @type = "date"})
    
    <button type="submit">Save</button>
</form>